[submodule "src/mirte-telemetrix-cpp"]
	path = src/mirte-telemetrix-cpp
	url = https://github.com/ArendJan/mirte-telemetrix-cpp.git
	branch = main
[submodule "src/mirte-ros-packages"]
	path = src/mirte-ros-packages
	url = https://github.com/mklomp/mirte-ros-packages.git
	branch = ros2
